*{
    font-family: "Poppins",Sans-serif;
}
.first{
    
   margin-left: 160px;
   font-size: 32px;
   margin-top: 6%;
   font-weight: 600;
   color: rgb(63, 60, 60);
   /* font-family:   serif; */
}
.allone{
   
    height: 60vh;
    width: auto;
    ;
}
.secondDiv{

}
.pra{
    color: rgb(92, 86, 86);
    margin-left: 160px;
    margin-top: 5%;
    font-size: 17px;
    font-weight: 400;
    --widgets-spacing: 20px 20px;

}
.btn3{
    
        margin-left: 20%;
        margin-top: 4%;
        border: none;
        border-radius: 8px;
        height: 44px;
        width: 160px;
        background-color: orangered;
        color: white;
        font-size: 17px;
      
}
.btn3:hover{
    background-color: white;
    border: orangered 2px solid;
    color: orangered;
}
.Spr{
    margin-top: 2%;
    color: rgb(110, 102, 102);
    font-size: 17px;
    font-weight: 400;
    margin-left: 155px;
}
.nameDiv{
    
    width: 760px;
}
.mainDiv{
    border: 2px solid white;
 margin-top: 10%;


    justify-content: space-evenly;
  display: flex;
  
 
}
.resimg{
    height: 100%;
    margin-left: -30%;
}


@media (max-width: 1080px) {
    .allone{
        height: 100vh;
        width: 100px;
      
    }
    .nameDiv{
        margin-left: 10%;
       width: 370px;
       margin-top: 30%;
       border: 2px solid white;
    }

    .mainDiv{
      flex-direction: column;
      display: flex;
     
    }
    .first{
        margin-left: 20px;
        font-size: 25px;
        margin-top: 8%;
        font-weight: 600;
        color: rgb(63, 60, 60);
        
     }

     .Spr{
        margin-top: 4%;
        color: rgb(110, 102, 102);
        font-size: 14px;
        font-weight: 400;
        margin-left: 19px;
      
    }

    .pra{
        font-family: "Poppins",Sans-serif;
        color: rgb(92, 86, 86);
        margin-left: 19px;
        margin-top: 3%;
        font-size: 16px;
        font-weight: 400;
       
        
    }
    .btn3{
    
        margin-left: 5%;
        margin-top: 4%;
     border: none;
        border-radius: 8px;
        height: 44px;
        width: 170px;
        background-color: orangered;
        color: white;
        font-size: 17px;
      
}

    .resimg{
        height: 75%;
        margin-left: 3%;
        margin-top: 3%;
    }

    
    
}

/* //////////////////////////////////////////////////////////////////////////// */
.SecondDiv{
    height: 60vh;
    width: auto;
    background-color: rgba(194, 194, 208, 0.315);
    
}
.secondimg{
    margin-left: 18%;
}
.imgAndPraDiv{
    display: flex;
    flex-direction: row;
}
.secondName{
    
    margin-left: 120px;
 width: 550px;
 
 margin-top: 3%;
}
.tikme{
    font-weight: 600;
font-size: 17px;
color: orangered;
}
.Onlineh1{
    margin-top: 3%;
font-size: 32px;
}
.Digitize{
    margin-top: 5%;
font-size: 19px;

}
.ulliDiv{
    margin-top: 8%;
}
ul li{
    margin-left: 2%;
   margin-top: 2%;
list-style-type: disc; 
font-size: 16px;
font-weight: 400;
}

.btn4{
    
    margin-left: 0%;
    margin-top: 4%;
    border: none;
    border-radius: 4px;
    height: 44px;
    width: 150px;
    background-color: orangered;
    color: white;
    font-size: 17px;
  
}
.btn4:hover{
    background-color: white;
    border: orangered 2px solid;
    color: orangered;
}
@media (max-width: 1080px){
    .SecondDiv{
        height: 60vh;
        width: 400px;
        background-color: rgba(194, 194, 208, 0.315);
        
    }
    ul li{
        margin-left: 6%;
       margin-top: 4%;
    list-style-type: disc; 
    font-size: 16px;
    font-weight: 400;
    }
    .imgAndPraDiv{
        display: flex;
        flex-direction:row;
    }
    .secondimg{
        display: none;
        height: 400px;
        margin-left: 8%;
    }
    .secondName{
    
     margin-left: 20px;
     width: 550px;
     
     margin-top: 3%;
    }
    .tikme{
        font-weight: 600;
    font-size: 18px;
    color: orangered;
    margin-left: 2%;

    }
    .Onlineh1{
        margin-left: 2%;
        margin-top: 3%;
    font-size: 28px;
    }
    .Digitize{
        margin-left: 2%;
        margin-top: 5%;
    font-size: 18px;
    
    }
    .btn4{
    
        margin-left: 6%;
        margin-top: 16%;
        border: none;
        border-radius: 4px;
        height: 44px;
        width: 150px;
        background-color: orangered;
        color: white;
        font-size: 17px;
      
    }

    
    


}
/* //////////////////////////////////////////////////////////////////////////// */
.SecondDiv3{
    margin-left: 12%;
    height: 60vh;
    width: auto;
    background-color: white;
    
}
.secondimg3{
    margin-left: 6%;
}

@media (max-width: 1080px){
    .SecondDiv3{
        margin-left: 12%;
        height: 60vh;
        width: 400px;
        background-color:white;
        
    }
    .secondimg3{
       display: none;
    }
    
}